WebService01/src/main/schama/01.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.w3school.com.cn"
        xmlns:tns="http://www.w3school.com.cn"
        elementFormDefault="qualified">

    <element name="user">
        <complexType>
            <sequence>
                <element name="id" type="int"/>
                <element name="username" type="string"/>
                <element name="born" type="date" />
            </sequence>
        </complexType>
    </element>
</schema>