WebService01/src/main/schama/student.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.w3school.com.cn.classroom"
        xmlns:tns="http://www.w3school.com.cn.classroom"
        elementFormDefault="qualified">

    <element name="student" type="tns:studentType" />
    <complexType name="studentType">
        <sequence>
            <element name="name" type="string" />
            <element name="sex" type="tns:sexType" />
        </sequence>
    </complexType>
    <simpleType name="sexType">
        <restriction base="string">
            <enumeration value="男" />
            <enumeration value="女" />
        </restriction>
    </simpleType>
</schema>