WebService01/src/main/dtd/classroom.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT classroom (classname,grade,students)>
<!ATTLIST classroom id ID #REQUIRED>
<!ELEMENT classname (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT students (student+)>
<!ELEMENT student (id,name,age)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>